@import '/src/styles/variables';

.container {
  margin: 0 auto;
  // background-color: aqua;
  max-width: $xl;
}

@media screen and (max-width: $md) {
  .container {
    max-width: $md;
    background-color: green;
  }
}

@media screen and (max-width: $xs) {
  .container {
    background-color: red;
  }
}
