// Sizes.

// Breakpoints.
$xs: 360px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

// Colors.
$white: #ffffff;
$black: #000000;
$primary: #424242;
$primary-light: #6d6d6d;
$primary-dark: #1b1b1b;
$secondary: #64b5f6;
$secondary-light: #9be7ff;
$secondary-dark: #2286c3;
